# PostgreSQL connection string.
# If you use docker compose from this project, this default works.
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nyc_data_pipeline

# NYC Open Data Socrata API endpoint for 311 Service Requests from 2020 to Present.
NYC_311_API_URL=https://data.cityofnewyork.us/resource/erm2-nwe9.json

# Number of latest records to download each run.
RECORD_LIMIT=1000

# Optional Socrata app token. Leave blank for small interview/demo runs.
SOCRATA_APP_TOKEN=
